@import "tailwindcss";

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-stone-100 text-stone-800;
  }

  ::selection {
    @apply bg-slate-800 text-stone-50;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-slate-700 rounded-sm;
  }
}
